* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    justify-items: center;
}
.main {
    background: linear-gradient(135deg,#005aa7,#fffde4);
    height: 80vh;
    width:60vh;
    margin-top: 10vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.search {
    text-align: center;
    padding-top: 5vh;
}
.enter {
    border-radius: 15px;
    height: 5vh;
    width: 40vh;
    border: 0;
}
.button {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    border: 0;
}
::placeholder {
    padding-left: 1vh;
}

.teci {
    text-align: center;
    padding-top: 5vh;
}
.temp {
    font-size: 10vh;
}
.city {
    font-size: 3vh;
}
.weather-icon {
    height: 20vh;
    width: 25vh;
    background-image: url(sun.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 6vh;
    left: 18vh;
}
.details {
    display:flex;
    padding-top: 15vh;
    padding-left: 3vh;
}
.humidity {
     padding-left: 3vh;
}
.hum {
    font-size: 5vh;
}
.details1 {
    display: flex;
}
.details2 {
    display: flex;
}
.col2 {
    padding-left: 5vh;
    position: relative;
    bottom: 1vh;
}
.wind {
    padding-left:1vh;
}
.win {
    font-size: 5vh;
}
.humi {
    position: relative;
    bottom: 6vh;
    padding-right: 20vh;
}
.wind2 {
    padding-left: 28vh;
    position: relative;
    bottom: 9vh;
}
.teci {
    display: none;
}
.error {
    padding-left: 4vh;
    padding-top: 2vh;
    display: none;
}